:root {
  --gray-000: #cdd6f4;
  --gray-100: #bac2de;
  --gray-200: #a6adc8;
  --gray-300: #9399b2;
  --gray-400: #6c7086;
  --gray-500: #585b70;
  --gray-600: #45475a;
  --gray-700: #313244;
  --gray-800: #1e1e2e;
  --gray-900: #181825;
  --dark-poole-001: #1e1e2e;
  --dark-poole-002: #cdd6f4;
  --dark-poole-link-color: #f2cdcd;
  --dark-poole-link-hover: #f5e0dc;

  --red: #f38ba8;
  --pink: #f5c2e7;
  --grape: #eba0ac;
  --purple: #cba6f7;
  --indigo: #b4befe;
  --blue: #89b4fa;
  --cyan: #89dceb;
  --teal: #94e2d5;
  --green: #a6e3a1;
  --yellow: #f9e2af;
  --orange: #fab387;

  --blue-300: #74c0fc;
  --blue-400: #4dabf7;
  --yellow-100: #fff3bf;

  --body-font: 'JetBrains Mono', monospace;
  --body-font-size: 20px;
  --body-line-height: 1.5;
  --body-color: var(--gray-700);
  --body-bg: #fff;

  --link-color: var(--blue);
  --link-hover-color: #1c7ed6;

  --heading-color: var(--gray-900);

  --border-color: var(--gray-300);
  --border-radius: 0.25rem;

  --code-font: 'JetBrains Mono', monospace;
  --code-color: var(--grape);
  --code-bg: var(--gray-000);

  --spacer: 1rem;
  --spacer-2: calc(var(--spacer) * 1.5);
  --spacer-3: calc(var(--spacer) * 3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-color: var(--gray-300);
    --body-bg: var(--gray-800);

    --heading-color: #fff;

    --link-color: var(--blue-300);
    --link-hover-color: var(--blue-400);

    --border-color: rgba(255, 255, 255, 0.15);

    --code-bg: var(--gray-900);
  }
}

// Dark Poole theme
[data-theme="dark-poole"] {
  --body-color: var(--dark-poole-002);
  --body-bg: var(--dark-poole-001);
  --heading-color: var(--dark-poole-002);
  --link-color: var(--dark-poole-link-color);
  --link-hover-color: var(--dark-poole-link-hover);
  --border-color: rgba(255, 255, 255, 0.15);
  --code-bg: var(--gray-900);
}
